.page__header {
    padding: 50px 0 25px 0;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    background: $dark-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px 0 25px 0;
    &__logo {
        margin-right: 25px;
    }
}

.intro {
    @include column-center;
    background: $light-grey;
    height: 600px;
    width: 100%;
    .text-container {
        @include column-center;
        margin-bottom: 25px;
    }
    .btn {
        @include btn;
        font-size: 1.5em;
        margin-top: 25px;
        box-shadow: 1px 1px 12px #555;
        &:active {
            box-shadow: none;
        }
    }
    .gradient {
        background: rgb(174,113,200);
        background: linear-gradient(0deg, rgba(174,113,200,1) 53%, rgba(242,108,233,1) 100%);
        &:hover {
            background: rgba(242,108,233,1);
            background: linear-gradient(0deg, rgba(242,108,233,1) 53%, rgba(174,113,200,1) 100%);
        }
    }
}

.steps-container {
    @include column-center;
    width: 100%;
    margin-top: 75px;
    header {
        align-self: flex-start;
        padding-left: 50px;
    }
    &__regrouper {
        margin-top: 45px;
        @include column-center;
        width: 85%;
    }
}

.scr-step {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 125px;
    border-radius: 35px;
    box-shadow: 5px 10px 15px lightgray;
    background-color: $light-grey;
    padding: 30px 50px 30px 50px;
    margin-bottom: 30px;
    &:hover {
        cursor: pointer;
        background-color: transparentize($primary-color, 0.8);
        .scr-icon {
            color: $primary-color;
        }
    }
    &__number {
        display: flex;
        justify-content: center;
        position: relative;
        left: -65px;
        border-radius: 50%;
        width: 40px;
        color: whitesmoke;
        background-color: $primary-color;
    }
    .relative-pos {
        position: relative;
        left: -25px;
        min-width: 50px;
    }
}

.restos-container {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 35px;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    &__header {
        align-self: flex-start;
        padding-left: 50px;
    }
}

.restos-regrouper {
    @include column-center;
    &__resto {
        display: flex;
        flex-direction: column;
        border: transparent;
        border-radius: 35px;
        background-color: white;
        box-shadow: 1px 1px 5px grey;
        width: 85%;
        margin-top: 25px;
        position: relative;
    } 
}

.rrr {
    &__image {
        align-self: center;
        border: transparent;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
   
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__labels {
        @include column-start;
        height: 140px;
        margin: 10px 0 10px 25px;
        line-height: 50px;
    }
    &__favorite-icon {
        margin-right: 50px;
    }
}

.bookmark-new {
    position: absolute;
    border-radius: 5px;
    right: 25px;
    top: 25px;
    display: flex;
    width: auto;
    height: auto;
    padding: 15px 25px 15px 25px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    color: darken($tertiary-color, 40%);
}

#favorite1, #favorite2, #favorite3, #favorite4 {
    @include checkbox-style;
}

label:hover {
    cursor: pointer;
}

.footer {
    @include column-start;
    background-color: $light-black;
    color: whitesmoke;
    padding: 25px;
    width: 100%;
    &__header {
        @include column-start;
        margin: 15px 0 25px 25px;
    }
    &__list {
        @include column-start;
        list-style-position: outside;
        list-style-type: none;
        padding-left: 0px;
        margin: 0 0 0 25px;
        li {
            margin-bottom: 15px;
            .icon {
                min-width: 50px;
            }
        }
    }
}

#id_1 {
    background-image: url('../../public/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
}

#id_2 {
    background-image: url('../../public/images/stil-u2Lp8tXIcjw-unsplash.jpg');
}

#id_3 {
    background-image: url('../../public/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}

#id_4 {
    background-image: url('../../public/images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
}