@keyframes fadein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

@keyframes translateY {
  from { transform: translateY(100px) }
  to   { transform: translateY(0px) }
}

@keyframes translateYAndFadeIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to   {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes spinAndDisappear {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    position: static;
  }
  50% {
    opacity: 1;
    position: static;   
  }
  99% {
    opacity: 1;
    position: static;
  }
  100% {
    transform: rotate(1440deg);
    opacity:0;
    position: absolute;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  99% {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  100% {
    visibility: visible;
    opacity: 1;
    position: static;
  }
}
