@mixin column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@mixin border($colour:$primary-color) {
    border: .1rem solid $colour;
    border-radius: 50px;
}

@mixin btn {
    padding: 25px 40px 25px 40px;
    letter-spacing: 1px;
    @include border;
    color: whitesmoke;
    background: $secondary-color;
    cursor: pointer;
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}

@mixin checkbox-style {
    display: none;
    & ~ label .checked {
        display: none;
    }
    &:checked {
        & ~ label {
            .checked {
                display: inline-block;
                color: rgb(174,113,200);
            }
            .not-checked {
                display: none;
            }
        }
    }
}